.fondo{
    background-color: #FFE57F; text-align: center; 
}
.parrafo{
    text-align: center; font-size: 18px; color: black;
}
.titulo{
    font-size: 18.5px; text-align: center;
}
.fondo2{
    background-color: #F4FF81; text-align: center; 
}
.img{
    text-align: center; font-size: 30; width: 300px; height: 270px !important;  
}
.Titulos{
    color: rgb(16, 253, 68); text-align: center;
}
.fondo3{
   background-color:#FFFF8D; text-align: center; 
}
.parrafos{
    text-align: justify; font-size: 17px; color: black;
}
.fondo4{
    background-color: #FFE57F;
}